.logo{
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    color: rgb(80, 185, 247);  
}

.texto {
font-family: 'Open Sans', sans-serif;
font-size: 2rem;
}

.separador {
height: 30px !important; 

}

.nuestrosPostres {
font-size: 4rem;
font-family: 'Open Sans', sans-serif;

}

@-webkit-keyframes color-change-2x {
0% {
background: #19dcea;
}
100% {
background: #b22cff;
}
}
@keyframes color-change-2x {
0% {
background: #19dcea;
}
100% {
background: #b22cff;
}
}
