.header {
    .header__logo {
        font-size: 4rem;
        font-family: 'Dancing Script', cursive;
        color: #50b9f7; }
      
      .header__texto {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem; }
}